video {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #EAD7BB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, p {
  margin-top: 2rem;
  text-align: center;
  color: #113946;
}



video, canvas {
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #113946;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 0 auto 20px auto;
}

button:hover {
  background-color: #001524;
}

p {
  margin-top: 1rem;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.result-background {
  background-color: #EAD7BB;
}